/*global*/
html {
  font-family: 'Lato', 'Verdana', sans-serif;
  font-size: 10px;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.content {
  box-sizing: border-box;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0;
}

.header__content {
  margin-bottom: 6px;

  display: flex;

  background-color: #2d303a;
  box-shadow: 0 6px #323746;
}

.slider__content {
  display: flex;
  background-color: #f06c64;
}

.services__content {
  background-color: #f2f2f2;
}

/*Typo*/
.typo_size-xxl {
  font-size: 3.0rem;
}

.typo_size-xl {
  font-size: 2.5rem;
}

.typo_size-md {
  font-size: 1.8rem;
}

.typo_size-sm {
  font-size: 1.2rem;
}

.typo_color_active {
  color: #f06c64;
}

.typo_color_light {
  color: #ffffff;
}

.typo_color_main {
  color: #767e9e;
}

.typo_color_headers {
  color: #666d89;
}

.typo_weight_light {
  font-weight: 400;
}

.typo_weight_lightest {
  font-weight: 300;
}

.typo_weight_bold {
  font-weight: 700;
}

.typo_weight_boldest {
  font-weight: 900;
}
